{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Evento</title>
    <link rel="stylesheet" href="{% static 'styles/edit_event.css' %}">
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'images/logo-icesi-azul.webp' %}" alt="Logo">
        </div>
        <div class="user-info">
            <!-- Información del usuario aquí -->
            <!-- Ejemplo: {{ user.get_full_name }} -->
        </div>
    </header>
    <div class="container">
        <h1>Editar Evento</h1>
        <h2>Evento: {{ eventId.name }}</h2>
        {{ error }}
        <form id="updateForm" action="" method="POST">
            {% csrf_token %}
            {{ form }}
        </form>

        <form id="deleteForm" action="{% url 'event_delete' eventId.id %}" method="POST" class="form-reset">
            {% csrf_token %}
        </form>

        <div class="button-container">
            <button class="btn btn-update" type="submit" form="updateForm">
                Actualizar
            </button>
            <button class="btn btn-delete" type="submit" form="deleteForm">
                Eliminar
            </button>
        </div>

        <form action="{% url 'event_complete' eventId.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-complete btn-wide">
                Completar
            </button>
        </form>
    </div>
</body>

</html>
