{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalles del Evento</title>
        <link rel="stylesheet" href="{% static 'styles/event_checklist.css' %}">
    
    </head>

    <body>
    <div class="container">
        <h1>Detalles del Evento</h1>
        <div class="event-checklist">
            <div class="event-detail">
                <h2>Información General</h2>
                <p><strong>Nombre del evento:</strong> <span id="nameEvent">{{event.name}}</span></p>
                <p><strong>Fecha de ejecución:</strong> <span id="executionDate">{{event.executionDate}}</span></p>
                <p><strong>Lugar:</strong> <span id="place">{{event.place}}</span></p>
            </div>

            <a href="">Crear tarea</a>
            
            <form method="POST" action="{% url 'event_checklist' event.id %}">
                {% csrf_token %}
                <div class="event-detail">
                    <h2>Checklist de Tareas para {{ event.name }}</h2>
                    {{ formset.management_form }}  <!-- Importante para controlar el formset -->
                    <ul>
                        {% for form in formset %}
                            <li>
                                {{ form.id }}
                                {{ form.instance.name }}: {{ form.done }}  <!-- Muestra el nombre y el checkbox -->
                                {% if form.done.errors %}  <!-- Errores de validación si existen -->
                                <div class="errors">{{ form.done.errors }}</div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="buttons">
                    <button type="submit">Guardar Cambios</button>
                </div>
            </form>
            
        </div>
    </div>
    </body>
</html>
