<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Correo Electrónico</title>
</head>

<body>
    <h1>Enviar encuenta de satisfacción al cliente</h1>
    <p>{{msj_exito}}</p>
    <form id="formulario" method="POST" action="">
        {% csrf_token %}
        <label for="cliente_email">Correo electrónico del cliente:</label>
        <input type="email" id="cliente_email" name="cliente_email" required>
        <button type="submit">Enviar</button>
    </form>

    <div>
        <h2>¿Qué han dicho los usuarios?</h2>
        <p>Héchale un vistazo <a
                href="https://docs.google.com/spreadsheets/d/1n2hNg52P24tJhAgER3T5qi1fNJ0-d2b45h-75oTsSLA/edit?usp=sharing">aquí</a>.
        </p>

    </div>


</body>

</html>