{% extends 'base.html' %} {% block content %}
<main class="container">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
        {% if validlink %}
      <form method="POST" class="card card-body">
        {% csrf_token %}

        {{ form.new_password1.errors }}
        <label for="new_password1">New Password:</label>
        <input
            type="password"
            name="new_password1"
            id="new_password1"
            class="form-control"
            placeholder="Write your new password"
          />

        {{ form.new_password2.errors }}
        <label for="new_password2">Confirm your Password:</label>
        <input
            type="password"
            name="new_password2"
            id="new_password2"
            class="form-control"
            placeholder="Confirm your password"
          />

        <button class="btn btn-primary">Update</button>
      </form>
      {% else %}
        <h1 class="text-center">Invalid Link</h1>
        {% endif %}
      
    </section>
  </div>
</main>
{% endblock %}
