{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'styles/password_reset_complete.css' %}"> 
</head>
<body style="background-image: url('{% static 'images/fondoSaman.png' %}');
 background-size: cover; background-position: center;" 
 class="background-image">
<main class="forgot-password">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
        <h1 class="text-center">Password Reset Complete</h1>
        <p class="text-center">Your password has been updated successfully.</p>
        <p class="text-center">You can now <a href="/signin/">sign in</a> with your new password.</p>
    </section>
  </div>
</main>
</body>
