{% extends 'base.html' %} {% block content %}
<main class="container">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
      <form action="/signup/" method="POST" class="card card-body">
        <h1 class="text-center">SignUp</h1>
        {{error}} {% csrf_token %}
        <article class="mb-3">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="Write your username"
          />
        </article>
        <article class="mb-3">
          <label for="email">Email:</label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            placeholder="Write your email"
          />
        </article>
        <article class="mb-3">
          <label for="password1">Password:</label>
          <input
            type="password"
            name="password1"
            id="password1"
            class="form-control"
            placeholder="Write your password"
          />
        </article>
        <article class="mb-3">
          <label for="password2">Confirm your Password:</label>
          <input
            type="password"
            name="password2"
            id="password2"
            class="form-control"
            placeholder="Confirm your password"
          />
        </article>
        <button class="btn btn-primary">SignUp</button>
      </form>
    </section>
  </div>
</main>
{% endblock %}
