
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C6E0FF; /* Color de fondo actualizado */
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    /* Estilos para la información del usuario */
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

.logo img {
    height: 50px; /* Ajusta esto según el tamaño de tu logo */
}

h1 {
    text-align: center;
    color: #333;
}

.event-detail {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

.event-detail h2 {
    color: #333;
}

.event-checklist ul {
    list-style-type: none;
    padding: 0;
}

.event-checklist li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.event-checklist li:last-child {
    border-bottom: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.form-actions {
    display: flex;
    justify-content: space-between; /* Esto alineará los botones como en la imagen */
    margin-top: 10px;
}

.btn {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none; /* Remover el subrayado de los enlaces */
    display: inline-block; /* Para que los enlaces se comporten como botones */
}

.btn-save {
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #4cae4c;
}

.btn-cancel {
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    border: 1px solid #ccc; /* Se añade borde para que coincida con el estilo del botón 'Cancelar' */
}

.btn-cancel:hover {
    background-color: #e0e0e0;
}