<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
    <h1>Search Results</h1>
    <ul>
        {% for user in users %}
        <li>
            <strong>Name:</strong> {{ user.name }} <br>
            <strong>Username:</strong> {{ user.username }} <br>
            <strong>ID Number:</strong> {{ user.id_number }} <br>
            <strong>Role:</strong> {{ user.role }} <br>
            <strong>Department:</strong> {{ user.department }} <br>
        </li>
        {% empty %}
        <li>No users found.</li>
        {% endfor %}
    </ul>
</body>

</html>